.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cipherText, .encryptedText {
  height: 20%;
  min-width: 35%;
  margin: 1rem;
}

.arrow {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

#rot-n {
  padding: .5em;
  width: 100px;
}